@media(max-width:920px){
    h1{
        font-size:90px;
    }
    h2{
        font-size: 86px;
    }
    h3{
        font-size:36px;
    }
    p{
        font-size: 24px;
        line-height: 140%;
    }
    
}
