.store-section{
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100vw;
    height: fit-content;
    padding: 90px 60px 0;
    overflow: hidden;
    position: relative;
}
.store-card-container{
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4,1fr);
    gap: 18px;
    overflow: hidden;
}
.store-filter-button{
    display: none;
}
.store-filter-button-contaienr{
    display: none;
}
