.email-section-container{
    width: 100%;
    height: 140vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin-bottom: 100px;
}

.email-container{
    width: 100%;
    height: fit-content;
    margin: 0 60px;
    border: solid;
    border-radius: 24px;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 58px 42px;
    backdrop-filter: blur(5px);
}
.cu-message , .cu-Email , .cu-name{
    all: unset;
    background-color: #ffffff70;
    border-width: 3px;
    border: solid;
    border-color: transparent;
    border-radius: 12px;
    font-size: 30px;
    padding-inline-start: 12px;
    font-family: "Inter", serif;
}
.cu-name, .cu-Email{
    width: 60%;
    height: 63px;
}
.cu-message{
    width: calc(100% - 12px);
    height: 232px;
    padding-top:12px ;
}
.cu-button-contaienr{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: start;
    padding-top: 6px;
}

.cu-message-input-container, .cu-Email-input-contaienr ,.cu-name-input-contaienr{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.cu-title{
    font-weight: 400;
}